<%- include('inc/header.ejs') %>

<h1>I've opened a door here that I regret.</h1>
<p>
	Bad news. Andy Griffith turned us down. He didn't like his trailer. What's Spanish for "I know
	you speak English?" Well, what do you expect, mother? No! I was ashamed to be SEEN with you. I
	like being with you.
</p>
<p>
	Did you enjoy your meal, Mom? You drank it fast enough. Whoa, this guy's straight? Army had half
	a day. Get me a vodka rocks. And a piece of toast. <strong> No!</strong>
	<em> I was ashamed to be SEEN with you.</em> I like being with you.
</p>
<h2>Michael!</h2>
<p>
	Really? Did nothing cancel? What's Spanish for "I know you speak English?" That's why you always
	leave a note! Not tricks, Michael, illusions.
</p>
<ol>
	<li>I care deeply for nature.</li>
	<li>I'm afraid I just blue myself.</li>
	<li>Steve Holt!</li>
</ol>

<h3>No! I was ashamed to be SEEN with you. I like being with you.</h3>
<p>
	Michael! No! I was ashamed to be SEEN with you. I like being with you. I've opened a door here
	that I regret. That's why you always leave a note! There's only one man I've ever called a
	coward, and that's Brian Doyle Murray. No, what I'm calling you is a television actor.
</p>
<ul>
	<li>I've opened a door here that I regret.</li>
	<li>Bad news. Andy Griffith turned us down. He didn't like his trailer.</li>
	<li>Across from where?</li>
</ul>

<p>
	I'm afraid I just blue myself. I care deeply for nature. Michael! Across from where? Did you
	enjoy your meal, Mom? You drank it fast enough.
</p>
<p>
	Say goodbye to these, because it's the last time! There's so many poorly chosen words in that
	sentence. Say goodbye to these, because it's the last time! I've opened a door here that I
	regret. It's called 'taking advantage.' It's what gets you ahead in life.
</p>
<p>
	I don't criticize you! And if you're worried about criticism, sometimes a diet is the best
	defense. Really? Did nothing cancel? Get me a vodka rocks. And a piece of toast. That's what it
	said on 'Ask Jeeves.'
</p>
<p>
	Get me a vodka rocks. And a piece of toast. Across from where? I care deeply for nature. Bad
	news. Andy Griffith turned us down. He didn't like his trailer. Now, when you do this without
	getting punched in the chest, you'll have more fun.
</p>
<p>
	We just call it a sausage. That's why you always leave a note! I hear the jury's still out on
	science. Marry me. That's what it said on 'Ask Jeeves.'
</p>
<p>
	Really? Did nothing cancel? He'll want to use your yacht, and I don't want this thing smelling
	like fish. He'll want to use your yacht, and I don't want this thing smelling like fish. It's
	called 'taking advantage.' It's what gets you ahead in life.
</p>
<p>
	Army had half a day. First place chick is hot, but has an attitude, doesn't date magicians.
	Guy's a pro. I've opened a door here that I regret. I'm afraid I just blue myself.
</p>
<p>
	Across from where? Marry me. I don't understand the question, and I won't respond to it. No… but
	I'd like to be asked!
</p>
<p>
	Oh, you're gonna be in a coma, all right. No, I did not kill Kitty. However, I am going to
	oblige and answer the nice officer's questions because I am an honest man with no secrets to
	hide. He'll want to use your yacht, and I don't want this thing smelling like fish.
</p>
<p>
	There's so many poorly chosen words in that sentence. I don't understand the question, and I
	won't respond to it. Say goodbye to these, because it's the last time! Steve Holt! I don't
	understand the question, and I won't respond to it.
</p>
<p>
	We just call it a sausage. Get me a vodka rocks. And a piece of toast. First place chick is hot,
	but has an attitude, doesn't date magicians. Guy's a pro. He'll want to use your yacht, and I
	don't want this thing smelling like fish.
</p>

<%- include('inc/footer.ejs') %>
