<%- include('inc/header.ejs') %>

<h1>You mean while I'm sleeping in it?</h1>
<p>
	And from now on you're all named Bender Jr. Hello Morbo, how's the family? I videotape every
	customer that comes in here, so that I may blackmail them later. Hello Morbo, how's the family?
	I wish! It's a nickel.
</p>
<p>
	I love this planet! I've got wealth, fame, and access to the depths of sleaze that those things
	bring. <strong> Who am I making this out to?</strong>
	<em> Why, those are the Grunka-Lunkas!</em> They work here in the Slurm factory.
</p>
<h2>Why did you bring us here?</h2>
<p>
	Take me to your leader! Tell her she looks thin. Wow, you got that off the Internet? In my day,
	the Internet was only used to download pornography. How much did you make me? Guards! Bring me
	the forms I need to fill out to have her taken away!
</p>
<ol>
	<li>I can explain. It's very valuable.</li>
	<li>
		I'm sorry, guys. I never meant to hurt you. Just to destroy everything you ever believed in.
	</li>
	<li>
		When the lights go out, it's nobody's business what goes on between two consenting adults.
	</li>
</ol>

<h3>
	Oh, I don't have time for this. I have to go and buy a single piece of fruit with a coupon and
	then return it, making people wait behind me while I complain.
</h3>
<p>
	Why yes! Thanks for noticing. The key to victory is discipline, and that means a well made bed.
	You will practice until you can make your bed in your sleep. I'm just glad my fat, ugly mama
	isn't alive to see this day.
</p>
<ul>
	<li>I just told you! You've killed me!</li>
	<li>Yes, except the Dave Matthews Band doesn't rock.</li>
	<li>I had more, but you go ahead.</li>
</ul>

<p>
	Anyone who laughs is a communist! Or a guy who burns down a bar for the insurance money! Hey,
	you add a one and two zeros to that or we walk! Maybe I love you so much I love you no matter
	who you are pretending to be.
</p>
<p>
	Hey, guess what you're accessories to. Look, last night was a mistake. You'll have all the Slurm
	you can drink when you're partying with Slurms McKenzie! You guys realize you live in a sewer,
	right?
</p>
<p>
	What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid
	food. Is today's hectic lifestyle making you tense and impatient? Oh, how I wish I could believe
	or understand that! There's only one reasonable course of action now: kill Flexo!
</p>
<p>
	Ven ve voke up, ve had zese wodies. Ok, we'll go deliver this crate like professionals, and then
	we'll go ride the bumper cars. You wouldn't. Ask anyway! Yeah, lots of people did. Fry! Quit
	doing the right thing, you jerk!
</p>
<p>
	Kids have names? Interesting. No, wait, the other thing: tedious. Are you crazy? I can't swallow
	that. This is the worst part. The calm before the battle. Who's brave enough to fly into
	something we all keep calling a death sphere?
</p>
<p>
	Oh right. I forgot about the battle. Well, let's just dump it in the sewer and say we delivered
	it. Throw her in the brig. Why would a robot need to drink?
</p>
<p>
	THE BIG BRAIN AM WINNING AGAIN! I AM THE GREETEST! NOW I AM LEAVING EARTH, FOR NO RAISEN! No, of
	course not. It was… uh… porno. Yeah, that's it. They're like sex, except I'm having them! I
	videotape every customer that comes in here, so that I may blackmail them later.
</p>
<p>
	Tell her she looks thin. Say it in Russian! I've got to find a way to escape the horrible
	ravages of youth. Suddenly, I'm going to the bathroom like clockwork, every three hours. And
	those jerks at Social Security stopped sending me checks. Now 'I'' have to pay ''them'!
</p>
<p>
	A sexy mistake. Leela, are you alright? You got wanged on the head. Perhaps, but perhaps your
	civilization is merely the sewer of an even greater society above you! Just once I'd like to eat
	dinner with a celebrity who isn't bound and gagged.
</p>
<p>
	Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts! Are you crazy?
	I can't swallow that. Why not indeed! For example, if you killed your grandfather, you'd cease
	to exist!
</p>
<p>
	It's toe-tappingly tragic! No! The cat shelter's on to me. Hey! I'm a porno-dealing monster,
	what do I care what you think? I videotape every customer that comes in here, so that I may
	blackmail them later.
</p>

<%- include('inc/footer.ejs') %>
