@import '../../node_modules/normalize.css/normalize';

html,
body {
	font-family: Arial, Helvetica, sans-serif;
}

.nav {
	display: flex;
	padding: 10px 0;
	margin: 0;
	list-style: none;

	&__item {
		background: #cccccc;
		flex: 1;
		margin: 0 10px;
		text-align: center;

		a {
			padding: 10px;
			display: block;
			color: black;
			text-decoration: none;

			&:hover,
			&:focus {
				color: white;
				background: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

#main {
	margin: 10px;
}

h1 {
	background: #cccccc;
	padding: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 200%;
	text-transform: uppercase;
}
